@import '../../styles/global.scss';

.movie_description{
    width: 180px;
    height: 220px;
    // cursor: pointer;
}
.movie_card{
    width: 220px;
    height: 275px;
    cursor: pointer;
}
.large_promo{
    height: 100%;
    width: 100%;
}
.trailer_card{
    height: 220px;
    object-fit:fill;
}
.small_promo{
    width: 450px;
    height: 250px;
}