@import "../../styles/global.scss";

.container {
  @include flex-column;
  background-color: $light_gray;
  width: 575px;
  // width: 33.3%;
  height: 100vh;
  padding: 35px;
  overflow: scroll;
  .search_wrapper {
    display: flex;
    justify-content: space-between;
  }
  .blogs_wrapper {
    margin-top: 25px;
    @include flex-column;
    row-gap: 15px;
    list-style-type: none;
    .placeholder_text {
      margin-top: 50%;
      align-self: center;
      font-size: 26px;
    }
  }
}
