@import "../../styles/global.scss";

button {
  all: unset;
  cursor: pointer;
}
.purple_button {
  font-family: $secondary_font;
  font-weight: $font-weight-500;
  font-size: 0.8rem;
  color: $white;
  border-radius: 1.25rem;
  padding: 0.625rem 1.56rem;
  background-color: $purple;
}
.cyan_button {
  font-family: $secondary_font;
  font-weight: $font-weight-500;
  font-size: 0.8rem;
  border-radius:1.25rem;
  padding: 0.625rem 1.56rem;
  background-color: $cyan_blue;
}
.transparent_Button {
  font-family: $secondary_font;
  font-size: 0.875rem;
  color: $black;
  font-weight: $font-weight-500;
}
.purple_button_big {
  font-family: $secondary_font;
  font-weight: $font-weight-500;
  font-size: 1.1875rem;
  color: $white;
  border-radius: 25px;
  padding: 0.625rem 3.125rem;
  background-color: $purple;
}
