@import "../../styles/global.scss";

.container {
  background-color: $white;
  width: 55.3rem;
  height: 100vh;
  padding: 3.125rem 3.75rem;
  .blog_description_wrapper {
    @include flex-column;
    width: 100%;
    .image_wrapper {
    }
    .title_wrapper {
      margin-top: 1.56rem;
    }
    .description_wrapper {
      margin-top: 0.9rem;
    }
    .title_wrapper:focus,  .description_wrapper:focus{
      border-bottom: 1px solid $dark_gray;
    }
  }
  .button_wrapper {
    margin-top: 0.9rem;
    display: flex;
    justify-content: flex-end;
    column-gap: 0.9rem;
  }
}
.error {
  border-bottom: 1px solid red;
}