@import "../../styles/global.scss";

.container {
  background-color: $white;
  width: 885px;
  height: 100vh;
  padding: 50px 60px;
  .blog_description_wrapper {
    @include flex-column;
    width: 745px;
    .image_wrapper {
    }
    .title_wrapper {
      margin-top: 25px;
      padding: 0px 10px;
    }
    .description_wrapper {
      margin-top: 15px;
      padding: 0px 10px;
    }
  }
  .button_wrapper {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    column-gap: 15px;
  }
}
.error {
  outline: 1px solid red;
  border-radius: 10px;
  box-shadow: 0px 0px 5px red;
}
