@import '../../styles/global.scss';

    .dropdown {
        appearance: none;
        width: 700px;
        height: 70px;
        padding: 25px 35px;
        font-size: 16px;
        position: relative;
        border: 1.5px solid $input-border;
        color: $input-border;
    }
    .form_input{
        background-color: transparent;
    }