@import '../../styles/global.scss';

.container{
    @include flex-column;
    row-gap: 50px;
    .title_wrapper{
        .title{
            font-size: 40px;
            font-weight: 500;
            color: $white;
        }
    }
    .movies_list_wrapper{
        display: flex;
        flex-wrap: wrap;
        gap:40px;
        max-height: 710px;
        overflow: auto;
    }
    .button_wrapper{
        width: 240px;
        height: 70px;
    }
}