@import '../../styles/global.scss';

.input{
        appearance: none;
        width: 700px;
        height: 70px;
        padding: 25px 35px;
        position: relative;
        border: 1.5px solid $input-border;
}