@import '../../styles/global.scss';
.card_container{
    padding-top: 110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 25px;
    list-style-type: none;
}