$white: #fff;
$black: #000000;
$dark_mode: #041d2e;
$purple: #b355b7;
$cyan_blue: #69f8f9;
$light_gray: #f5f6fa;
$dark_gray: #ebecf4;
$backdrop: #000000b0;
$dark_mode_selected: #04121c;
$light_mode_selected: #96e2f5;
