$spacing-0-1:0.1rem;
$spacing-0-25:0.25rem;
$spacing-0-5:0.5rem;
$spacing-0-75:0.75rem;
$spacing-1:1rem;
$spacing-2:2rem;
$spacing-3:3rem;
$spacing-4:4rem;
$spacing-5:5rem;
$spacing-6:6rem;
$spacing-7:7rem;
$spacing-8:8rem;
$spacing-9:9rem;
$spacing-10:10rem;
$spacing-20:20rem;
$spacing-30:30rem;
$spacing-40:40rem;