@import "../../styles/global.scss";

.container {
  @include flex-column;
  row-gap: 1.25rem;
  .title_wrapper {
    .title {
      font-size: 1.125rem;
      font-family: $secondary_font;
      color: $black;
      font-weight: $font-weight-500;
    }
  }

  .checkbox_wrapper {
    list-style-type: none;
    @include flex-column;
    row-gap:0.9rem;
  }
}
