@import '../../styles/global.scss';

.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    .navbar_buttons{
        display: flex;
        column-gap: 5px;
        list-style-type: none;
    }
}