@import "../../styles/global.scss";

.container {
  position: absolute;
  top: 42%;
  left: 42%;
  width: 31.25rem;
  padding: 3.125rem;
  background-color: $white;
  border-radius: 1.25rem;
  .modal_wrapper {
    @include flex-column;
    row-gap: 1.875rem;
    .button_wrapper {
      display: flex;
      gap:1.25rem;
    }
  }
}
