@import '../../styles/global.scss';


.input_wrapper{
    display: flex;
    column-gap: 14px;
    .checkbox {
        accent-color: $purple;
        width: 20px;
        height: 20px;
        cursor: pointer;
        font-size: 10px;
        
    }
    .checkbox:checked{
        font-size: 10px;
    }
    .label{
        font-size: 14px;
    }
}

