@import '../../styles/global.scss';

.now_showing { 
    cursor: pointer;
    width:1280px ;
    height: 720px;
    object-fit: fill;
}
.play_pause {
    cursor: pointer;
    position: relative;
    // width: 10%;
    left: 50%;
}
.shortTeasers{
    width: 450px;
    height: 250px;
}
.video_wrapper{
    // position: relative;
}