@import '../../styles/global.scss';

.now_showing { 
    cursor: pointer;
    width:1280px ;
    height: 720px;
    object-fit: fill;
}
.play_pause {
    cursor: pointer;
    position: absolute;
    width: 170px;
    top: 55%;
    left: 50%;
}