
@import '../../styles/global.scss';


.search_wrapper {
    position: relative;
    .search {
        width: 470px;
        font-size: 20px;
        font-family: $secondary-font;
        font-weight: $font-weight-600;
        padding: 25px 25px 25px 65px;
        border-radius: 5px;
        border: 1px solid #d0d6ea;
    }
    .search_icon {
        font-weight: 200;
        position: relative;
        top: 8px;
        font-size: 35px;
        right: 445px;
    }
}
