@import "../../styles/global.scss";

.card_image {
  width: 47.81rem;
  height: 27.18rem;
  border-radius: 10px;
}
.member_image {
  display: block;
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 15px 15px 15px 0px;
}
