@import "../../styles/global.scss";

.card_image {
  width: 765px;
  height: 435px;
  border-radius: 10px;
}
.member_image {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 15px 15px 15px 0px;
}
