@import '../../styles/global.scss';

.banner_container {
    height: 92vh;
    width: 100%;
    background-image: url('../../assets/sindel-background.png');
    background-size: cover;
    padding: 100px;
    display: flex;
    justify-content: flex-end;
}